header{
    background-color: rgb(72, 163, 194);
    color: #000000;
    padding: 20pt;
}

.home {
    padding: 21pt;
    text-align: left;
}

.row {
    margin-top: 20px; 
}

.col-md-3 {
    margin-bottom: 20px; 
}

h1 {
    font-family: 'Copperplate';
    font-size: 35pt;
}

h2 {
    text-align: center;
    font-family: 'Giorgia';
    font-size: 30pt;

}

footer {
    font-size: 15pt;
}

p {
    font-family: 'Times New Roman';
    font-size: 15pt;
}
